/* css for 768 - 959 px */
_about_screen_md()

/* css for 480 - 767 px */
_about_screen_sm()
  .about
    .menu__item
      width 98%
      display: block
      margin-bottom 50px
      p
        height: 75px

/* css for 320 - 479 px */
_about_screen_xs()
