.about
  background linear-gradient(#745083, #322539)
  color: white;
  text-shadow: 1px 1px 1px #0f1518;
  padding-bottom: 40px

  .menu--about
    padding-top: 70px

  .menu__item
    // width: 230px
    display: inline-block
    // vertical-align: top;
    margin-bottom: 30px
    margin-left 1%
    width 32%
    // padding-left 40px
    padding-left 66px
    position: relative;

  .menu__item:last-child
    margin-right 0

  h4
    // font-size: 30px;
    font-weight: 400;

  p
    // font-family: OpenSans;
    // font-size: 16px;
    height: 120px;
    // line-height: 24px;
    overflow: hidden;
    margin: 4px 0 16px;
    font-weight: 300;

  a:hover
    text-shadow 0 0 8px rgba(255, 255, 255, 0.8)

  .icon
    position: absolute;
    top: 8px
    left: 12px
