.recent

  // .menu--recent
  //   font-family: OpenSans
  padding: 52px 0 0 30px
  white-space: nowrap

  .menu__item
    padding 10px 0px 12px 65px
    position: relative
    overflow: hidden

  img
    position: absolute;
    left 0
    top 11px

  .menu_link
    font-weight: 700

  p
    letter-spacing -0.5px
    // line-height: 18px

  .read-more-link
    padding: 10px 20px
