/* icons */

.icon
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(icons.png) 0 0 no-repeat;
  vertical-align: middle;

.icon-settings
  background-position: 0 0;
.icon-comment
  background-position: -31px 0;
.icon-music
  background-position: -63px 0;


.icon-radio
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(slider.png) 0 0 no-repeat;
  vertical-align: middle;
  cursor: pointer

.icon-radio-dark-off
  background-position: -44px 0;
.icon-radio-dark-on
  background-position: -66px 0;
.icon-radio-light-off
  background-position: 0 0;
.icon-radio-light-on
  background-position: -23px 0;

.radio-group
  text-align: center
