.quote
  img(src=author_img, alt="author")
  h4= title
    a(href=href)= href_text
  p= text
  
.quote-radio
  .radio-group
    i.icon.icon-circle.icon-circle-light-off
    i.icon.icon-circle.icon-circle-light-on
    i.icon.icon-circle.icon-circle-light-off
    i.icon.icon-circle.icon-circle-light-off
