header
  height 850px
  background url(bg.jpg) no-repeat center #d1bcc6
  background-size cover
  color white

  >.container
    height: 280px
    padding-top: 70px

  nav
    float: right;

  .menu
    font-size 24px

  .menu--inline
    .menu__item
      margin-left: 52px

  .menu--dropdown
    display: none

#logo
  display: inline-block
  // width: 154px
  padding-bottom 24px
  // float: left
