/* categories */

.category--extranews
  display none

.categories
  padding-top: 96px
  padding-bottom: 35px
  background-color: rgb(236, 236, 236)

.category
  width: 30%
  float: left
  margin-right 5%
  height: 208px
  overflow: hidden
  margin-bottom: 60px

  p
    padding-top 7px
    text-align: justify

.category--news
  margin-right 0
