.slider
  height: 400px
  background: rgba(0, 0, 0, 0.2);

  .container
    text-align: center

  .text-view
    width: 53%
    padding-top: 70px
    font-size: 18px;
    overflow-y hidden
    float: left
    text-align: left;
    display: inline-block

  h1
    font-size: 320%

  h3
    font-size 160%
    color: #edbfff;
    // margin-top -8px

  // p
  //   width: 53%;
    // display: inline-block

  .phone-view
    position: relative
    top -18px
    right: 70px
    width: 274px
    // height: 300px
    // height: 434px
    display: inline-block
    float: right

  .phone-clear__img
    position: absolute
    top: 0
    right: 0
    max-height: 100%
    z-index: 10

  .phone-fuzzy__img
    float: left
    margin: 28% 0
    width: 50%

  .phone-play-button
    position: absolute;
    margin: 55% 0 0 49%
    top 0
    left 0
    z-index: 11

  .slider-radio
    position: absolute
    top: 490px
    right: 158px
