.slider
  .container.relative
    .text-view
      h1= header
      h3= description
      p= text
    .phone-view
      img.phone-clear__img(src="img/slider/iPhone-4.png", alt="iPhone-4")
      img.phone-fuzzy__img(src="img/slider/iPhone-4-fuzzy.png", alt="iPhone-4-fuzzy")
      a.phone-play-button(href='#')
        img(src="img/slider/Play.png" alt="Click me!")    
    .slider-radio
      .radio-group
        i.icon-radio.icon-radio-dark-off
        i.icon-radio.icon-radio-dark-on
        i.icon-radio.icon-radio-dark-off
        i.icon-radio.icon-radio-dark-off
