.slider
  .container.relative
    .text-view
      h1= header
      h3= description
      p= text
    .phone-view
      img.phone-view__img--clear(src="img/slider/iPhone-4.png", alt="iPhone-4")
      img.phone-view__img--fuzzy(src="img/slider/iPhone-4-fuzzy.png", alt="iPhone-4-fuzzy")
      .phone-view__play-btn(href='#')
        a(href='#')
          img(src="img/slider/Play.png" alt="Click me!")    
    .slider__radio
      .radio-group
        i.icon.icon-circle.icon-circle-dark-off
        i.icon.icon-circle.icon-circle-dark-on
        i.icon.icon-circle.icon-circle-dark-off
        i.icon.icon-circle.icon-circle-dark-off
